* {
  box-sizing: border-box; }

html, body {
  font-family: 'Pirata One', cursive;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #4b2a2a;
  color: #fff;
  width: 100%; }

#header #menu-toggle {
  display: none;
  position: absolute;
  position: fixed;
  top: 4px;
  left: 4px; }
#header #menu-toggle:checked ~ #nav {
  left: 0; }
#header #menu-toggle:checked ~ .menu-filter {
  opacity: 40%;
  width: 100vw; }
#header #nav {
  position: fixed;
  z-index: 3;
  top: 0;
  background-color: #4b2a2a;
  left: -20vw;
  width: 20vw;
  height: 100%;
  border-right: 3px solid black;
  transition: left 0.5s ease; }
  #header #nav ul {
    margin-top: 50px;
    list-style: none; }
  #header #nav .nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    line-height: 2.5em; }
    #header #nav .nav-link:hover {
      text-decoration: underline; }
#header .hamburger-grp {
  position: fixed;
  top: 4px;
  left: 4px;
  z-index: 3; }
#header .hamburger-grp:hover {
  cursor: pointer; }
#header .ham {
  background-color: #fff;
  display: block;
  margin: 5px;
  border-radius: 4px;
  width: 35px;
  height: 5px; }
#header .menu-filter {
  display: block;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: black;
  opacity: 0%;
  width: 0;
  height: 100%;
  transition: opacity 0.5s ease; }
#header h1 {
  text-align: center;
  padding-top: 1.5em;
  font-size: 2.8em; }

#main {
  width: 100%;
  overflow: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column; }
  #main::webkit-scrollbar {
    display: none; }
  #main #hist-container {
    width: 100%;
    display: flex;
    overflow: auto;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth; }
    #main #hist-container::webkit-scrollbar {
      display: none; }
  #main .triforce {
    display: grid;
    grid-template-rows: 100px 1fr 5vh 1fr;
    grid-template-columns: 1fr 10% 1fr;
    width: 100vw;
    flex: 0 0 auto;
    position: relative;
    text-align: center;
    scrollbar-width: none;
    scroll-snap-align: center; }
    #main .triforce h2, #main .triforce .sctn-header {
      grid-area: 1 / 1 / 2 / 4; }
    #main .triforce .sctn-header {
      display: flex;
      justify-content: center;
      align-items: center; }
  #main .img-container, #main #footer .cntct-container, #footer #main .cntct-container {
    overflow: hidden;
    transition: all 0.5s ease; }
  #main .t-piece {
    height: auto;
    transition: all 0.5s ease; }
  #main .power {
    grid-area: 2 / 1 / 3 / 4;
    transition: all 0.5s ease; }
  #main .wisdom {
    text-align: right;
    grid-area: 4 / 1 / 5 / 2; }
  #main .courage {
    text-align: left;
    grid-area: 4 / 3 / 5 / 4; }
  #main .selected {
    grid-area: 3 / 1 / 4 / 4;
    text-align: center; }
  #main .selected-grid {
    grid-template-rows: 100px 0px 1fr 0px;
    grid-template-columns: 1fr 10% 1fr; }
  #main .unselected {
    opacity: 0%;
    width: 0;
    height: 0; }
  #main .lore-text {
    font-size: 0;
    opacity: 0%;
    transition: opacity 0.5s ease;
    padding: 0 5vw; }
  #main .selected-lore {
    font-size: 30px;
    opacity: 100%; }
  #main .btn-container {
    text-align: center; }
  #main .tri-btn {
    border: none;
    background-color: transparent;
    font-family: inherit;
    cursor: pointer; }
  #main .triforce-nav, #main .default, #main .switch-region {
    position: relative;
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0.5em 1em;
    background: #14529c;
    color: #ffffff;
    font-family: inherit;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none; }
  #main .default {
    display: none; }
  #main .dft-clickable {
    display: inline-block; }
  #main .prev::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15%;
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #fff; }
  #main .next::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15%;
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #fff; }

#footer {
  padding: 2em;
  text-align: center; }
  #footer .foot-flex {
    display: flex;
    justify-content: center; }
    #footer .foot-flex * {
      padding: 0 8px; }

@media (max-width: 451px) {
  #header #nav {
    width: 100%;
    left: -100%;
    text-align: center; }
    #header #nav ul {
      padding: 0; }

  #main .t-piece {
    width: 150px;
    height: auto; } }

/*# sourceMappingURL=sassystyle.css.map */
