* {
	box-sizing: border-box;
}

html, body {
	font-family: 'Pirata One', cursive;
	-ms-overflow-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #4b2a2a;
	color: #fff;
	width: 100%;
}

#header {

	@mixin menu-tog-rules {
		position: fixed;
		top: 4px;
		left: 4px;
	}

	$time: 0.5s;
	$menu-width: 20vw;

	#menu-toggle {
		display: none;
		position: absolute;
		@include menu-tog-rules;
	}

	#menu-toggle:checked ~ #nav {
		left: 0;
	}

	#menu-toggle:checked ~ .menu-filter {
		opacity: 40%;
		width: 100vw;
	}

	#nav {
		position: fixed;
		z-index: 3;
		top: 0;
		background-color: #4b2a2a;
		left: -$menu-width;
		width: $menu-width;
		height: 100%;
		border-right: 3px solid black;
		transition: left $time ease;

		ul {
			margin-top: 50px;
      list-style: none;
		}
    
    .nav-link {
      text-decoration: none;
      color: #fff;
      font-size: 24px;
      line-height: 2.5em;
      
      &:hover {
        text-decoration: underline;
      }
    }
    
	}

	.hamburger-grp {
		@include menu-tog-rules;
		z-index: 3;
	}

	.hamburger-grp:hover {
		cursor: pointer;
	}

	.ham {
		background-color: #fff;
		display: block;
		margin: 5px;
		border-radius: 4px;
		width: 35px;
		height: 5px;
	}

	.menu-filter {
		display: block;
		position: fixed;
		top: 0;
		z-index: 1;
		background-color: black;
		opacity: 0%;
		width: 0;
		height: 100%;
		transition: opacity $time ease;
	}

	h1 {
		text-align: center;
		padding-top: 1.5em;
		font-size: 2.8em;
	}
}

#main {
		width: 100%;
		overflow: hidden;
		-ms-overflow-style: none;
		display: flex;
    	flex-direction: column;
		$time: 0.5s;

		&::webkit-scrollbar {
			display: none;
		}
  
  #hist-container {
    width: 100%;
    display: flex;
    overflow: auto;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    
    &::webkit-scrollbar {
      display: none;
    }
  }

		.triforce {
			display: grid;
			grid-template-rows: 100px 1fr 5vh 1fr;
			grid-template-columns: 1fr 10% 1fr;
			width: 100vw;
			flex: 0 0 auto;
			position: relative;
			text-align: center;
			scrollbar-width: none;
			scroll-snap-align: center;
      		transition: opacity 1s ease, transform 1s ease;

			h2, .sctn-header {
				grid-area: 1 / 1 / 2 / 4;
			}

			.sctn-header {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}

		.inactive-region {
			visibility: collapse;
  			opacity: 0;
  			transform: rotate(0.5turn);
  		}

  		.active-region {
  			opacity: 100%;
  			transform: rotate(1.0turn);
  		}

		.img-container {
			overflow: hidden;
			transition: all $time ease;
		}

		.t-piece {
			height: auto;
			transition: all $time ease;

			&:hover {
				filter: drop-shadow(0 0 0.5rem #fff);
			}
		}

		.power {
			grid-area: 2 / 1 / 3 / 4;
		}

		.wisdom {
			text-align: right;
			grid-area: 4 / 1 / 5 / 2;
		}

		.courage {
			text-align: left;
			grid-area: 4 / 3 / 5 / 4;
		}

		.selected {
			grid-area: 3 / 1 / 4 / 4;
			text-align: center;
		}

		.selected-grid {
			grid-template-rows: 100px 0px 1fr 0px;
			grid-template-columns: 1fr 10% 1fr;
		}

		.unselected {
			opacity: 0%;
			width: 0;
			height: 0;
		}

		.lore-text {
			font-size: 0;
			opacity: 0%;
			transition: opacity $time ease;
			padding: 0 5vw;
		}

		.selected-lore {
			font-size: 30px;
			opacity: 100%;
		}
  
    .btn-container {
      text-align: center;
    }
  
		.tri-btn {
			border: none;
			background-color: transparent;
			font-family: inherit;
			cursor: pointer;
		}

		.triforce-nav, .default, .switch-region {
			position: relative;
		    display: inline-block;
		    border: none;
		    padding: 1rem 2rem;
		    margin: 0.5em 1em;
		    background: #14529c;
		    color: #ffffff;
		    font-family: inherit;
		    font-size: 1.5rem;
		    cursor: pointer;
		    text-align: center;
		    transition: opacity 0.5s ease-in-out;
		    -webkit-appearance: none;
		    -moz-appearance: none;
		}

		.default {
      		display: none;
		}
  
	    .dft-clickable {
	      display: inline-block;
	    }

		.prev::before {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 15%;
			content: "";
			width: 0;
			height: 0;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			border-right: 10px solid #fff;
		}

		.next::after {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 15%;
			content: "";
			width: 0;
			height: 0;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			border-left: 10px solid #fff;
		}

		button:active {
			border: 1px solid #f08d23;
		}
	}

	#footer {
		padding: 2em;
		text-align: center;

		.foot-flex {
			display: flex;
			justify-content: center;

			& * {
				padding: 0 8px;
			}
		}

		.cntct-container {
			@extend .img-container;
		}
	}

	@media (max-width: 451px) {
		#header {
			$menu-width: 100%;

			#nav {
				width: $menu-width;
				left: -$menu-width;
				text-align: center;

				ul {
					padding: 0;
				}
			}
		}

		#main {
			.t-piece {
				width: 150px;
				height: auto;
			}
		}
	}